@charset "UTF-8";

/* CSS Layout */

/* Page Container creates a decorative margin around entire page */
#page_container {
	width: 850px;
	background-color: #CCC;
	position: relative;
	padding: 10px;
	overflow: hidden;
	margin: 0px auto;
}

/* Banner */
#banner {
	background-image: url(../images/banner.jpg);
	height: 72px;
	width: 850px;
	border-top: 1px solid #383838;
	border-bottom: 1px solid #1b1b1b;
}

/* Navigation Bar Container */
#navbar_container {
	width: 100%;
	height: 40px;
	background-color: #242424;
	background-image:url(../images/navbar_bg.gif);
	background-repeat:repeat-x;
	/* overflow: hidden; */
	z-index: 999;
	border-top: 1px solid #484848;
	border-bottom: 1px solid #121212;
}

/* Sub-Navigation Bar Container */
#subnavbar_container {
	width: 100%;
	height: 36px;
	background-color: #242424;
	background-image:url(../images/subnavbar_bg.gif);
	/* background-image: url(../images/navbar.gif); */
	background-repeat:repeat-x;
	overflow: hidden;
	z-index: 998;
	border-bottom: 1px solid #121212;
}

/* Site Detail Container */
#sitedetailbar_container {
	width: 100%;
	height: 36px;
	background-color: #242424;
	z-index: 998;
	border-bottom: 1px solid #121212;
	cursor: pointer; /* FIX: behaves as a toggle button for the accordion Tree Map. */
}

#timerangebar_container {
	width: 100%;
	height: 26px;
	background-color: #242424;
	border-top: 1px solid #383838;
	border-bottom: 1px solid #121212;
}

/* Main Content Area */
#mainContent {
	width: 850px;
	font-size: 10px;
	background-color: #242424;
	border-top: 1px solid #383838;
	border-bottom: 1px solid #1b1b1b;
}

/* Preferences Content Area */
#prefContent {
	width: 90%;
	margin: auto;
	background-color: #242424;
	/* border: 1px solid #FFF; */
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#prefContent a {
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #555;
	/* border: 1px solid #FFF; */
}

/* Footer */
#footer {
	height: 15px;
	width: 100%;
	float: left;
	font-size: 10px;
	color: #666;
	background-color: #242424;
	border-top: 1px solid #383838;
	border-bottom: 1px solid #1b1b1b;
}

#footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	text-align:center;
}

#footer p a {
	color:#666;
	text-decoration:none;
}

#footer p a:hover {
	text-decoration:underline;
}

/* Radial Map Container */
#radial_map_container {
	background-image: url(../images/radialmap.jpg);
	height: 480px;
	width: 650px;
	float: left;
}

/* Tree Map Container */
#tree_map_container {
	background-image: url(../images/treemap.jpg);
	height: 400px; /* 480px */
	width: 850px;
}

/* Small Graphs Container */
#small_graph_column_container {
	float: left;
	width: 200px;
	height: 480px;
}
#small_graph_1 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}
#small_graph_2 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}
#small_graph_3 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}
#small_graph_4 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}

/* Event List Container */
#event_list_container {
	float: left;
	height: 360px;
	width: 425px;
	background-color: #242424;
}

/* Event List Container: contains graph and graph legend containers */
#event_detail_container {
	background-color: #242424;
	float: right;
	height: 360px;
	width: 425px;
}
#graph_container {
	background-image: url(../images/graph.jpg);
	float: right;
	height: 240px;
	width: 425px;
}
#graph_legend_container {
	float: right;
	height: 120px;
	width: 425px;
}

/* Label Bar Container */
#label_bar_container {
	width: 100%;
	height: 30px;
	background-color: #000;
	border-bottom-style: solid; 
	border-bottom-color: #333; 
	border-bottom-width: 1px;
	cursor: pointer; /* FIX: behaves as a button for the accordion panel tab and therefore the toggle button for the Tree Map. */
}

/* Profile Editors Container */
#vbar1 {
	float: left;
	background-image: url(../images/vbar1.jpg);
	height: 614px;
	width: 23px;
}

#vbar2 {
	float: right;
	background-image: url(../images/vbar2.jpg);
	height: 614px;
	width: 45px;
}

#site_profile_editor {
	background-image: url(../images/site_profile_editor.jpg);
	background-repeat: no-repeat;
	height: 575px; /* FIX */
	width: 850px;
	margin: 0px 10px; /* FIX: remove */
}

#app_profile_editor1 {
	float: left;
	background-image: url(../images/app_profile_editor1.jpg);
	background-repeat: no-repeat;
	height: 663px; /* FIX */
	width: 850px;
}

#app_profile_editor2 {
	float: left;
	background-image: url(../images/app_profile_editor2.jpg);
	background-repeat: no-repeat;
	height: 663px; /* FIX */
	width: 850px;
}