/* Horizontal Navigation Bar */

ul#navbar {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	position: relative;  /* Set relative positioning on the unordered list itself - not on the list item */
	font-size: 1.4em;
}

/* Horizontal Sub-Navigation List */
.navlist {
	float: left;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 2px black;
	font-weight: bolder;
	text-align: center;
	z-index: 999;
}
 
.navlist a {
	padding: 10px 15px; /* above, below, left and right navbar text  */
	display: block;
	color: #FFF; /* default text color: white */
	text-decoration: none;
	z-index: 999;
}

.navlist a:hover {
	color: yellow;
}


/* Horizontal Sub-Navigation Bar */
.navlist span {
	float: left;
	padding: 10px 0; /* padding above and below navbar text  */
	position: absolute;
	left: 0; top:41px; /* position w/in navbar_container, 1px below top navbar */
	display: none; /* hide by default */
	width: 850px;
	background-image: url(../images/navbar_bg_trans.png);
	font-size: 0.9em; /* Smaller font than on navbar */
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.navlist:hover span { display: block; } /* Show navlist on hover */
.navlist span a { display: inline; } /* Since we declared a link style on the parent list link, we will correct it back to its original state */
.navlist span a:hover {color: yellow; text-decoration: none;}


/* drop down menus */
 
#menu1, #menu2, #menu3, #menu4, #menu5 {
	display: none;
	position: absolute;
	overflow: hidden;
	background-image: url(../images/navbar_bg_trans.png);
	margin-top: 5px;
	*margin: auto;
	*margin-top: 28px;
	width: 971px;
	height: 280px;
	*height: 276px;
	text-align: left;
	border-bottom: 1px solid #333;
	font-size: 12px;
	text-align: left;
	text-shadow: none;
	z-index: 999;
}
 
#col1, #col2, #col3, #col4 {
	width: 225px;
	height: 275px;
	overflow: hidden;
	float: left;
	margin: 0;
	text-align: left;
	margin-right: 10px;
	margin-top: 5px;
	color: white;
	z-index: 999;
}
 
#col1 {
	margin-left: 25px;
}
 
.nav-col-heading {
	display: block;
	font-size: 14px;
	font-weight: bolder;
	background-image: url(../images/nav_underscore_grey.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	line-height: 1.25;
}
 
.nav-col-heading a:link, .nav-col-heading a:visited {
	color: #ffcc33 ! important;
	text-decoration: none;
}
 
.nav-col-heading a:hover {
	color: #f1e248 ! important;
}
 
.nav-col-title, .nav-col-item {
	font-size: 12px;
}
 
.nav-col-title {
	line-height: 18px
}
 
.nav-col-title a:link, .nav-col-title a:visited {
	color: #FFF ! important;
}
 
.nav-col-title a:hover {
	color: #CCC ! important;
}
 
.nav-col-item {
	margin-left: 20px;
	line-height: 16px;
}
 
.nav-col-item a:link, .nav-col-item a:visited {
	font-weight: normal;
	color: #CCC ! important;
}
 
.nav-col-item a:hover {
	color: #666 ! important;
}
 
 
/* numbers for headings in drop down sub menus */
 
.num1 {
	padding-left: 25px;
	background-image: url(../images/menu_num_1.png);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
 
.num2 {
	padding-left: 25px;
	background-image: url(../images/menu_num_2.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}
 
.num3 {
	padding-left: 25px;
	background-image: url(../images/menu_num_3.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}
 
.num4 {
	padding-left: 25px;
	background-image: url(../images/menu_num_4.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}
 
.num5 {
	padding-left: 25px;
	background-image: url(../images/menu_num_5.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}
 
.num6 {
	padding-left: 25px;
	background-image: url(../images/menu_num_6.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}
 
.num7 {
	padding-left: 25px;
	background-image: url(../images/menu_num_7.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}
 
.num8 {
	padding-left: 25px;
	background-image: url(../images/menu_num_8.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}
 
.num9 {
	padding-left: 25px;
	background-image: url(../images/menu_num_9.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}