@charset "UTF-8";

/* CSS Style */

body {
	background-image: url(../images/background_tile.gif);
	background-repeat: repeat-x;
	font: 100% Verdana, Arial, Helvetica;
	background-color: #242424;
	margin: 0px; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0px;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #CCC;
  }

/* FIX: remove this div */
tmp {
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
}


/* Event Table */
.event_table {
	/* margin-top: 10px;
	margin-left: 10px; */
	border-collapse: collapse;
	background: #333;
	cursor: pointer;
}

.event_table td { /*table cell*/
	border: 1px solid #222;
}

.event_table th { /*header cell*/
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	background-color: #000;
	border: 1px solid #222;
}

.event_table tr a {
	text-decoration: none;
	display: block;
}

.event_table tr:hover,
.event_table tr:active {
	background-color: #000;
	color: #0D8ECF; /* #FCD202 */
}

.selevent_table {
	background-color: #FCD202;
	color: #000;
}

/* Graph Legend Table */
.graph_legend_table {
	border-collapse: collapse; /*to stop the double border appearing on cells*/
	background: #333;
	cursor: pointer;
}

.graph_legend_table td { /*table cell*/
	border: 1px solid #222;
}

.graph_legend_table th { /*header cell*/
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	background-color: #000;
	border: 1px solid #222;
}

.graph_legend_table tr a {
	text-decoration: none;
	display: block;
}

.graph_legend_table tr:hover,
.graph_legend_table tr:active {
	background-color: #000;
	color: #0D8ECF; /* yellow */
}


/* Menubars */
#ProfilesMenubar li {
	width: 140px; /* 11em; */
}
#ProfilesMenubar ul,
#ProfilesMenubar ul li {
	width: 140px;
}

#SitesMenubar li {
	width: 140px;
}
#SitesMenubar ul,
#SitesMenubar ul li {
	width: 140px;
}

/* Site Detail Horizontal Labels */
#sitedetailbar_container p {
	margin: 0px;
	padding: 10px 10px 0px 20px; /* above, below, left and right text  */
	/* display: block; */
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
 
#sitedetailbar_container a {
	color: #666; /* default text color: grey */
}

#sitedetailbar_container d {
	color: #FFF; /* default text color: white */
}

#sitedetailbar_container c {
	color: red; /* default text color: red */
}

#timerangebar_container p {
	margin: 0px;
	padding: 5px 5px 0px 0px; /* above, below, left and right text  */
	/* display: block; */
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

/* HTML Panel Tooltip */
#site_tooltip{
	font-size: 11px;
	color: #FFF;
	background-image:url(../images/navbar_bg_trans.png);
	background-repeat:repeat-x;
	border-top: 1px solid #484848;
	border-bottom: 1px solid #121212;
}

#site_tooltip td {
	text-align: left;
	/* border-bottom: 1px solid #FFF; */
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}