<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Netview.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->

	<servlet>
		<servlet-name>GraphDataServlet</servlet-name>
		<servlet-class>
			com.prodco.netview.server.GraphDataServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CsvUploadServlet</servlet-name>
		<servlet-class>
			com.prodco.netview.server.CsvUploadServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>preferencesServiceServlet</servlet-name>
		<servlet-class>
			com.prodco.preferences.remote.PreferencesServiceServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>remoteLoggingService</servlet-name>
		<servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService</servlet-class>
	</servlet>
  
	<servlet-mapping>
		<servlet-name>preferencesServiceServlet</servlet-name>
		<url-pattern>preferences/PreferencesRemoteService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GraphDataServlet</servlet-name>
		<url-pattern>/data/graph</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
  		<servlet-name>remoteLoggingService</servlet-name>
  		<url-pattern>/preferences/logging</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CsvUploadServlet</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>

</web-app>
