<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Netview.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.prodco.netview.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GraphDataServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.prodco.netview.server.GraphDataServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/netview/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphDataServlet</servlet-name>
    <url-pattern>/data/graph</url-pattern>
  </servlet-mapping>

</web-app>
