@charset "UTF-8";

/* CSS Layout */

/* Page Container creates a decorative margin around entire page */
#page_container {
	width: 850px;
	background-color: #CCC;
	position: relative;
	padding: 10px;
	overflow: hidden;
	margin: 0px auto;
}

/* Banner */
#banner {
	background-image: url(../images/banner.jpg);
	height: 72px;
	width: 850px;
}

/* Navigation Bar Container */
#navbar_container {
	width: 100%;
	height: 40px;  /* 31px */
	background-color: #222;
	background-image:url(../images/navbar_bg.gif);
	background-repeat:repeat-x;
	/* overflow: hidden; FIX */
	z-index: 999;
}

/* Site Detail Container */
#sitedetailbar_container {
	/* background-image:url(../images/navbar_bg.gif);
	background-repeat:repeat-x; FIX */
	background-image: url(../images/sitedetailbar.jpg);
	width: 100%;
	height: 36px;
	background-color: #333;
}

/* Main Content Area */
#mainContent {
	width: 850px;
	height: 790px;
	background: #222;
	font-size: 10px;
}

/*Footer*/
#footer {
	height: 15px;
	width: 100%;
	float: left;
	font-size: 10px;
	background-color: #222;
	color: #666;
}

#footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	text-align:center;
}

#footer p a {
	color:#666;
	text-decoration:none;
}

#footer p a:hover {
	text-decoration:underline;
}

/* Radial Map Container */
#radial_map_container {
	background-image: url(../images/radialmap.jpg);
	height: 480px;
	width: 650px;
	float: left;
}

/* Tree Map Container */
#tree_map_container {
	background-image: url(../images/treemap.jpg);
	height: 400px; /* 480px */
	width: 850px;
}

/* Small Graphs Container */
#small_graph_column_container {
	float: left;
	width: 200px;
	height: 480px;
}
#small_graph_1 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}
#small_graph_2 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}
#small_graph_3 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}
#small_graph_4 {
	float: right;
	background-image: url(../images/smallchart.jpg);
	width: 200px;
	height: 120px;
}

/* Event List Container */
#event_list_container {
	float: left;
	height: 360px;
	width: 425px;
	background: #222;
}

/* Event List Container: contains graph and graph legend containers */
#event_detail_container {
	background-color: #222;
	float: right;
	height: 360px;
	width: 425px;
}
#graph_container {
	background-image: url(../images/graph.jpg);
	float: right;
	height: 240px;
	width: 425px;
}
#graph_legend_container {
	float: right;
	height: 120px;
	width: 425px;
}

/* Label Bar Container */
#label_bar_container {
	width: 100%;
	height: 30px;
	background-color: #000;
	z-index: 999;
	border-bottom-style: solid; 
	border-bottom-color: #333; 
	border-bottom-width: 1px;
}

/* Profile Editors Container */
#site_profile_editor {
	background-image: url(../images/site_profile_editor.jpg);
	background-repeat: no-repeat;
	height: 439px; /* FIX */
	width: 850px;
	margin: 0px 10px; /* FIX: remove */
}

#app_profile_editor {
	background-image: url(../images/app_profile_editor.jpg);
	background-repeat: no-repeat;
	height: 305px; /* FIX */
	width: 850px;
	margin: 0px 10px; /* FIX: remove */
}