@charset "UTF-8";

/* CSS Style */

body {
	background-image: url(../images/background_tile.gif);
	background-repeat: repeat-x;
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background-color: #222;
	margin: 0px; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0px;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #CCC;
  }

/* FIX: remove this div */
tmp {
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
}

/*Event Table*/
.event_table {
	/* margin-top: 10px;
	margin-left: 10px; */
	border-collapse: collapse;
	background: #333;
	cursor: pointer;
}

.event_table td { /*table cell*/
	border: 1px solid #222;
}

.event_table th { /*header cell*/
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	background-color: #000;
	border: 1px solid #222;
}

.event_table tr a {
	text-decoration: none;
	display: block;
}

.event_table tr:hover,
.event_table tr:active {
	background-color: #000;
	color: #0099ff; /* yellow */
}

.selevent_table {
	background-color: yellow;
	color: #000;
}

/*Graph Legend Table*/
.graph_legend_table {
	border-collapse: collapse; /*to stop the double border appearing on cells*/
	background: #333;
	cursor: pointer;
}

.graph_legend_table td { /*table cell*/
	border: 1px solid #222;
}

.graph_legend_table th { /*header cell*/
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	background-color: #000;
	border: 1px solid #222;
}

.graph_legend_table tr a {
	text-decoration: none;
	display: block;
}

.graph_legend_table tr:hover,
.graph_legend_table tr:active {
	background-color: #000;
	color: #0099ff; /* yellow */
}

/*Navigation Bar Table*/
.navbar_table {
	background: #222;
	font-size: 18px;
}
.navbar_table td a {
	text-decoration: none;
}
.navbar_table td a:hover,
.navbar_table td a:active {
	color: #FF0;
}

/* Menubars */
#ProfilesMenubar li {
	width: 140px; /* 11em; */
}
#ProfilesMenubar ul,
#ProfilesMenubar ul li {
	width: 140px;
}

#SitesMenubar li {
	width: 140px;
}
#SitesMenubar ul,
#SitesMenubar ul li {
	width: 140px;
}
